<h1>Sourdough planner
  <a href="#" onclick={{action switch_recipe}}>
    <small>
      {{#if recipemode}}
        Plan my bread
      {{else}}
        I have a recipe
      {{/if}}
    </small>
  </a>
</h1>

{{#if recipemode}}
<Recipe @onuse={{action plan_this_bread}} />
{{else}}
<Calculator @weight={{weight}} @hydration={{hydration}} @starter={{starter}} />
{{/if}}
