<tr>
    <td>
        <select id="new_item_selection" onchange={{action set_type}}>
            {{#each types key="@index" as |type idx|}}
            <option>{{type.name}}</option>
            {{/each}}
        </select>
    </td>

    <td>
        <input type="number" min="0" step="1" value={{weight}} onchange={{action set_weight}} />
    </td>
    <td>
        <input type="text" value={{comment}} onchange={{action set_comment}} />
    </td>
    <td>
        <button onclick={{action add}}>Add item</button>
    </td>
</tr>
