<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sourdough Planner</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{content-for "head"}}
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{{rootURL}}app.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123043897-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-123043897-1');
    </script>
    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}
    <a class="gitlab-fork-ribbon right-top" href="https://gitlab.com/julian7/sdp" data-ribbon="Fork me on GitLab" title="Fork me on GitLab">
      Fork me on GitLab
    </a>
    <div class="container">
      <div class="columns">
        <div class="column col12">
          <div id="app"></div>
        </div>
      </div>
    </div>

    <script src="{{rootURL}}app.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
