<div class="rounder">
  <div class="title">
    <h1>{{@name}}</h1>
  </div>
  <div class="val">
    <button class="btn" onclick={{action decr}}><i class="icon icon-minus"></i></button>
    {{val}} {{@type}}
    <button class="btn" onclick={{action incr}}><i class="icon icon-plus"></i></button>
  </div>
  <input type="range" min="{{@min}}" max="{{@max}}" value="{{val}}" oninput={{action setval}} onchange={{action @onchange val}} />
</div>
