<div class="columns">
  <div class="column col-4 col-xs-12"><InputSlider @name="weight"    @type="g" @min="0"  @max="2000" @onchange={{action setweight}} @val={{weight}} /></div>
  <div class="column col-4 col-xs-12"><InputSlider @name="hydration" @type="%" @min="20" @max="120"  @onchange={{action sethydration}} @val={{hydration}} /></div>
  <div class="column col-4 col-xs-12"><InputSlider @name="starter"   @type="%" @min="0"  @max="100"  @onchange={{action setstarter}} @val={{starter}} /></div>
</div><div class="columns">
  <div class="column col-12">
    <ul style="width: 100%">
      <li>Flour: {{round flour}} g</li>
      <li>Water: {{round water}} g</li>
      <li>Sourdough starter: {{round starterweight}} g</li>
      <li>Salt: {{round salt}} g</li>
      <li>Result: {{round result}} g</li>
    </ul>
  </div>
</div>
