<h2>I have a recipe</h2>

<table class="table">
<thead>
    <tr>
        <th>Type</th>
        <th>Amount [g]</th>
        <th>Comments</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {{#each items key="@index" as |item idx|}}
    <tr>
        <td>{{item.type}}</td>
        <td>{{item.weight}}</td>
        <td>{{item.comment}}</td>
        <td><button onclick={{action delete_item idx}}>Delete</button></td>
    </tr>
    {{/each}}
    <NewItem @add={{action add_item}} />
</tbody>
</table>

<p>Sum:</p>
<div>Weight: {{weight}} g</div>
<div>Hydration: {{round hydration}} %</div>
<div>Starter: {{round starter}} %</div>
<div>Salt: {{round salt}} %</div>
<a href="#" onclick={{action plan_this_bread}}>Plan this bread!</a>
